__pycache__
imgs

t
smina/
pdbid_bins.json
pdbbind2020.hdf5
*.molcache2
create_caches2.py
cache/
1.pdbbind2020/
*.old
*.types

train/*.npy
.vscode/
.fuse*
train/pdbbind
.DS_Store
*.converted.pdb

*.png
*.xyz
tmp.*
tmp
src
